body{
    background-color: bisque;
}
th,td{
    border: 1px solid black;
    /* make bordernsatu line  */
    /* border-collapse: collapse; */
    border-radius: 10px;
    padding: 10px;
}
table{
    /* space between table */
    border-spacing: 5px;
}
ul{
    list-style-type: none;
    /* rapat kiri */
    padding: 0;
    /* rapat atas */
    margin: 0;
    /* jadikan blok */
    overflow:auto;
    background-color: black;
}
/* hyperlink */
ul a{
    float: left;
    padding: 10px;
    display: block;
    color: aliceblue;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(34, 157, 112);

}


.left{
    padding: 20px;
    background-color: aqua;
    float: left;
    width: 20%;
}
.main{
    padding: 20px;
    background-color: rgb(38, 255, 0);
    float: left;
    width: 60%;
}
.right{
    padding: 20px;
    background-color: rgb(255, 0, 0);
    float: left;
    width: 20%;
}
@media screen and (max-width:800px){
    .left, .main, .right{width: 100%;}
    
}

.all{
    padding: 20px;
    background-color: lightgray;
    margin: 0;
}
.google{
    margin: 10px;
    padding: 5px;
    background-color: aliceblue;
    
}